body{
    margin-left: auto;
    margin-right: auto;
    width: 900px;

    border: 1px black solid;
}
.wrapper{
    display: grid;
    grid-template-columns: 150px 600px 150px;
    grid-template-rows: 100px 50px auto 100px;
    background-color: rgba(104, 168, 237, 0.38);
}
#mb0{
    display: block;

    width: 100%;
    //border: black solid 1px;
    grid-column: 1/4;
    background-color: #4e3cbb;

}
.mo{
    margin-left: 0;
    border: deeppink;
    background-color: #dfdada;
}
.m1{
    display: inline;

   // border: #140c47 solid 1px;
    padding: 5px;
    font-family: "Arial Black";
    font-size: 16px;
}
#m101{
    margin-left: 20px;
}
#b0{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: black solid 1px;
    grid-column: 1/4;
    background-color: darkblue;
}
h1{
    color: #dfdada;
    text-align: center;

}
.box{
    grid-column: 1/4;
}
#b1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/3;
}
#instruction{

    padding: 5px ;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: black 1px solid;
    color: #140c47;
}
#btn,#btnToCheckUser{
    width: 150px;
    height: 35px;
    font-size: 21px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}
#btnReg,#btnToExit{
    width: 150px;
    height: 35px;
    font-size: 21px;
    display: inline-block;
    margin-left: 200px;
    cursor: pointer;
}
#input{
    display: inline-block;

}
#formSp1Label{
    font-size: 21PX;
    color: #5a6ba5;
    padding: 5PX;

}
#userSname, #pass{
    display: inline;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 35px;
    font-size: 23px;
    text-align: center;
}

#userPassword,#exitToMain{
    width: 150px;
    height: 35px;
    font-size: 21px;
    color: #140c47;
    margin: 10px;
    cursor: pointer;
}
#firstName,#lastName,#userLn,#userLnPass{
    width: 300px;
    height: 35px;
    font-size: 21px;
    color: brown;
    margin: 10px;
    text-align: center;

}
#firstNameLabel,#formSp2Label,#logInUserName,#logInUserNameLbl,#fn,#ln{
    font-size: 21PX;
    color: #5a6ba5;
    padding: 5PX;
    margin: 10px;

}
#fstName,#pasrd,#firstname,#lastname{
    font-size: 21PX;
    color: #5a6ba5;
    padding: 5PX;
    margin: 10px;
}
#userName001,#pass001{
    width: 160px;
    height: 25px;
    //margin: 5px;
    text-align: center;
    margin: 15px 10px 10px 10px ;
}
#welcome{
    //background-color: black;
    //width: 500px;
    //height: 200px;
    //top: 0px;
    text-align: center;
    font-size: 24px;
    color: darkblue;
}
#noList{
    margin-top: 100px;
    font-size: 21px;
    color: #fe9046;
    padding: 5px;

}
#dashboard{
    height: 25px;
    border: #140c47 1px solid;
    padding: 10px;
    margin-top: 10px;
    background-color: cadetblue;
    text-align: center;
}
#dashboardNoList{
    height: 25px;
    padding: 10px;
    margin-top: 10px;
}
#createlistbtn,#addTaskBtn,#removeTaskBtn,#saveTaskBtn,#createlistbtnForExit,#createlistbtnForExit1,#btn001,#updateUser,#btn002{
    margin: 10px;
    width: 150px;
    height: 35px;
    font-size: 21px;
    cursor: pointer;
 }
#btn002{
    color: red;
}
#btn002:hover{
    color: #408100;
}
#newList{
    width: 500px;
    height: 550px;
    background-color: black;
}
.lis{
    color: aliceblue;
    font-size: 27px;
    margin: 5px;
}
.allCheck{
    width: 15px;
    height: 15px;
    color: aliceblue;
    margin-left: 25px;
}
.storedList{
    cursor: pointer;
    font-size: 21px;
    font-weight: 900;
    color: deeppink;
}
#checkForAgreement{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
#lblSpanChk{
    color: #ffb64e;
    font-size: 21px;
    margin-left: 10px;
    margin-top: 0px;
    position: relative;
    top: -5px;
}
#m102,#m101{
    cursor: pointer;
    color: #dfdada;
}
#m102:hover,#m101:hover{
    color: #ffb64e;
}